POSTGRES_DB={{ auth_postgres_db }}
POSTGRES_USER={{ auth_postgres_user }}
POSTGRES_PASSWORD={{ auth_postgres_password }}

DB_URL={{ auth_db_url }}
DB_USERNAME={{ auth_postgres_user }}
DB_PASSWORD={{ auth_postgres_password }}

JWT_SECRET={{ jwt_secret }}
JWT_EXPIRATION_MS={{ jwt_expiration_ms }}
REFRESH_TOKEN_EXPIRATION_MS={{ refresh_token_expiration_ms }}
