POSTGRES_DB={{ storage_postgres_db }}
POSTGRES_USER={{ storage_postgres_user }}
POSTGRES_PASSWORD={{ storage_postgres_password }}

DB_URL={{ storage_db_url }}
DB_USERNAME={{ storage_postgres_user }}
DB_PASSWORD={{ storage_postgres_password }}

SPRING_JPA_HIBERNATE_DDL=update
SPRING_SQL_INIT_MODE=always

MINIO_ACCESS_KEY={{ minio_access_key }}
MINIO_SECRET_KEY={{ minio_secret_key }}
