#root {
  width: 100%;
  margin: 0 auto;
}

html,
body,
#root {
  min-width: 320px;
  min-height: 100vh;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.app-shell :global(.mantine-AppShell-navbar) {
  transition: width 0.2s ease;
}

.app-shell :global(.mantine-AppShell-main) {
  transition: margin-left 0.2s ease;
  height: 100vh;
  overflow: hidden;
}
