#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

html,
body,
#root {
  min-width: 320px;
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
