server {
    listen 80;
    server_name T29Vault.innoca.local;
    ssl_certificate     /etc/nginx/ssl/T29Vault.innoca.local.crt;
    ssl_certificate_key /etc/nginx/ssl/T29Vault.innoca.local.key;
    ssl_protocols TLSv1.2 TLSv1.3;



    root {{ deploy_dir }}/dist;
    index index.html;

    location / {
        proxy_pass http://127.0.0.1:8080;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
    location /api/ {
        proxy_pass http://127.0.0.1:18080/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root {{ deploy_dir }}/dist;
    }
}