/* Brand & base */
$color-white: #ffffff;
$color-primary: #141414;

/* Grays (light -> dark) */
$color-very-light-gray: #e8e8e8;
$color-light-gray: #c4c4c4;
$color-gray: #676767;
$color-dark-gray: #191919;
$color-very-dark-gray: #141414;
$color-black: #111111;

/* Errors - красные цвета для лучшей видимости */
$color-error-hover: #d32f2f;
$color-error: #f44336;
$color-error-active: #b71c1c;
