.itemNameContainer {
  padding: var(--mantine-spacing-md);
  background-color: var(--mantine-color-red-0);
  border-radius: var(--mantine-radius-md);
  border: 1px solid var(--mantine-color-red-2);
  text-align: center;
}

.description {
  text-align: center;
  color: var(--mantine-color-dimmed);
  font-size: var(--mantine-font-size-sm);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-lg);
}
