@use '../../styles/colors.scss' as c;

/* Контейнер */
.inputContainer {
  position: relative;
}

/* Поле ввода*/
.inputField {
  display: block;
  width: 100%;
  border-radius: 8px 8px 0 0;
  padding: 8px 0px 8px 0px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid var(--border);
  outline: none;
  background-color: transparent;
  color: var(--text-primary);
  caret-color: var(--text-primary);

  &::placeholder {
    transition: color 0.2s ease;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

/* Лейбл */
.inputLabel {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: var(--text-secondary);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Фокус */
.inputField:focus + .inputLabel {
  top: -20px;
  font-size: 13px;
  color: var(--text-primary);
}

/* Заполненное поле */
.inputField:not(:placeholder-shown) + .inputLabel {
  top: -20px;
  font-size: 13px;
  color: var(--text-primary);
}

/* Сообщение об ошибке */
.error {
  color: var(--error);
  font-size: 14px;
  margin-top: 8px;
}

/* Анимация появления ошибки */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Стили для поля с ошибкой */
.inputContainer.hasError .inputField {
  border-radius: 8px 8px 0 0;
  background-color: rgba(244, 67, 54, 0.08);
  border-bottom-color: var(--error);
}
